---
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hallo mein Freund!">
  <section contain-layout un-flex="~  h-full col gap-7.5">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 max-w-4xl">
      <Navbar />
      <Hero />
      <About />

      <Footer />
      <!-- <h1 class="font-moniter font-bold underline text-2xl">About me</h1> -->
    </div>
  </section>
</Layout>
