---
import Layout from "../layouts/Layout.astro";
import Github from "../components/svgs/Github.astro";
import Insta from "../components/svgs/Insta.astro";
import Discord from "../components/svgs/Discord.astro";
import X from "../components/svgs/Twitter.astro";
import Mail from "../components/svgs/Mail.astro";
---

<Layout title="Hello Meine fruende!">
  <section contain-layout un-flex="~ col gap-7.5">
    <div
      class="max-w-fit p-7 mx-auto text-monitor-text font-monitor flex items-center justify-center"
    >
      <div class="max-w-3xl mx-auto">
        <h1 class="text-3xl font-bold mb-4 underline">About Me</h1>
        <h2 class="text-2xl font-semibold">
          Dharmik Jadav - Software Engineer
        </h2>
        <div class="flex flex-col mb-3">
          <p class="">
            I am Dharmik Jadav, a software engineer with a background in IT.
          </p>
          <p>I'm very passionate for building products.</p>
        </div>
        <p>
          Feel free to reach out if you want to discuss potential
          collaborations, projects, or just to connect!
        </p>
        <div class="flex gap-4 my-4 items-center">
          <a href="https://github.com/dhrmkj">
            <Github height="24px" width="24px" />
          </a>
          <!-- <a>
            <Mail />
          </a> -->
          <a href="https://discord.com/users/1103331985239322635">
            <Discord height="24px" width="24px" />
          </a>
          <a href="https://x.com/dhrmkj">
            <X height="24px" width="24px" />
          </a>
          <a href="https://instagram.com/dhrmkj">
            <Insta height="24px" width="24px" />
          </a>
          <a href="mailto:dhrmkjdv@gmail.com">
            <Mail height="24px" width="24px" />
          </a>
        </div>
        <div class="my-10">
          <h2 class="mb-2 italic">currently working on...</h2>
          <div un-flex="~ col gap-1 items-start">
            <div class="flex flex-col">
              <h3 class="post-title!">
                <a
                  href={"https://portal.gstfy.com"}
                  class="underline text-xl"
                  target="_blank"><b>GSTFY</b></a
                >
              </h3>
              <div class="mb-2 text-3.5">
                <span><b>{"Posted At - "}</b></span>
                <time class="italic">{new Date("April 10, 2024 03:24:00")}</time
                >
              </div>
            </div>
            <p class="leading-6">
              To address the high costs associated with traditional POS systems,
              I collaborated with <a
                href="https://kunalgosrani.com/"
                target="_blank">Kunal Gosrani</a
              > and <a
                href="https://www.linkedin.com/in/savan-nagariya-93b919233/"
                >Savan Nagariya</a
              > on developing a software portal that enables b2b businesses to generate
              e-invoices efficiently.
            </p>
          </div>
        </div>
        <div>
          <a
            class="underline font-semibold italic"
            href="https://blog.dharmik.me">go to my blogs</a
          >
        </div>
      </div>
    </div>
  </section>
</Layout>
