---
const LINK_COLOR = "text-sky-800";
---

<div class="w-full tracking-widest text-slate-600">
  <p class="leading-6 font-extralight text-sm">Hi! Welcome to my website! :)</p>
  <div class="my-4 flex flex-col gap-4">
    <h1 class="text-xl text-center font-semibold">ABOUT ME</h1>
    <div class="flex flex-col gap-2">
      <p>
        I am an <a
          class=`${LINK_COLOR}`
          href="https://en.wikipedia.org/wiki/Information_technology"
          >Information Technology</a
        > graduate from <a
          class=`${LINK_COLOR}`
          href="https://ldce.ac.in/"
          target="_blank">L.D College of Engineering</a
        >. I'm particularly interested in sustainability and sustainable
        development.
      </p>
      <p>
        My goal is to contribute to the development of sustainable technologies
        and information systems that can make a tangible difference in our
        world. I am deeply fascinated by the potential of <a
          class=`${LINK_COLOR}`
          href="https://en.wikipedia.org/wiki/Environmental_informatics"
          >environmental informatics</a
        > to drive positive change for our planet.
      </p>
    </div>
  </div>
</div>
