---
const links = {
  about: "#",
  blog: "https://blog.dharmik.me",
  cv: "#",
};
---

<nav class="border-b border-gray-400 w-full py-4">
  <div class="flex items-center justify-between tracking-widest">
    <h1 class="leading-10 text-xl sm:text-2xl">Dharmik Jadav</h1>
    <div class="flex items-center gap-4 text-slate-600">
      <a
        class="hidden sm:block hover:underline cursor-pointer"
        href={links.about}>About</a
      >
      <a class="hover:underline cursor-pointer" href={links.blog}>Blog</a>
      <a class="hidden sm:block hover:underline cursor-pointer">CV</a>
    </div>
  </div>
</nav>
